@import "tailwindcss";

:root {
  --background: #ffff;
  --foreground: #17982f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Bornomala";
  src: url("/fonts/Bornomala-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.my-font {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Bornomala", sans-serif;
  background: white;
}

/* swiper buttons white color */

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  fill: white !important;
  stroke: white !important;
  font-size: 20px;
}

.mySwiper {
  --swiper-navigation-size: 18px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white !important;
  margin: 0 30px !important;
}

@keyframes marquee {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(-100%);
  }
}

.marquee-container {
  animation: marquee 70s linear infinite;
}

.marquee-container:hover,
.marquee-container:has(.marquee-link:hover) {
  animation-play-state: paused;
}


.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  /* fill: #4478e3; */
}

.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width: 0.5;
  opacity: .6;
  transform: translateY(80%);
}

.drop1 {
  transform-origin: 20px 3px;
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}


#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: .6
}

#wave3 {
  animation-duration: 7s;
  opacity: .3;
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: .6;
  }

  80% {
    transform: translateY(80%);
    opacity: .6;
  }

  90% {
    transform: translateY(10%);
    opacity: .6;
  }

  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  --s: 1.8em;
  /* the ribbon size */
  --d: .8em;
  /* the depth */
  --c: .8em;
  /* the cutout part */

  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left var(--s) bottom var(--d),
      #0000 25%, #0008 0 37.5%, #0004 0) 0 /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
      #0004 62.5%, #0008 0 75%, #0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d), var(--s) 0, calc(100% - var(--s)) 0, calc(100% - var(--s)) var(--d), 100% var(--d), calc(100% - var(--c)) calc(50% + var(--d)/2), 100% 100%, calc(100% - var(--s) - var(--d)) 100%, calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) 100%, 0 100%, var(--c) calc(50% + var(--d)/2));
  background-color: #17982f;
  /* the main color */
  width: fit-content;
}

.ribbon2 {
  --r: 0.8em;
  padding-right: calc(var(--r) + 0.25em);
  line-height: 1.8;
  width: 100%;
  clip-path: polygon(-100vw 0,
      calc(100% - var(--r)) 0,
      100% 50%,
      calc(100% - var(--r)) 100%,
      -100vw 100%);

  background-color: #17982f;
  /* পুরো div ব্যাকগ্রাউন্ড */
  color: white;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.animate-feature{
  animation: feature 1s linear infinite
}
@keyframes feature {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }
  
}